services:
  metals:
    build: .
    ports:
      - "8005:8000"
    env_file:
      - .env
    mem_limit: 1g
    memswap_limit: 1g
    cpus: 1.0
    volumes:
      - ./output:/app/output
    restart: unless-stopped
